<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Bootstrap 101 Template</title>
    <link href="//Users/ambition/rails_projects/sage/app/assets/images/favicon.ico" rel="SHORTCUT ICON">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style media="screen" type="text/css">
      .item {
        margin-bottom: 10px;
      }
    </style>
  </head>

  <body>
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <a href="http://www.4gamer.net/games/304/G030408/20151028025/" target="_blank" title="">
              <img alt="" class="img-responsive" src="http://capture.heartrails.com/400x400?http://www.4gamer.net/games/304/G030408/20151028025/">
            </a>
            <p>こんな風に</p>
          </div>
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <a href="http://www.gamer.ne.jp/news/201510280017/" target="_blank" title="">
              <img alt="" class="img-responsive" src="http://capture.heartrails.com/400x400?http://www.gamer.ne.jp/news/201510280017/">
            </a>
            <p>サムネイルの文字もリンクから</p>
          </div>
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <a href="https://github.com/" target="_blank" title="">
              <img alt="" class="img-responsive" src="http://capture.heartrails.com/400x400?https://github.com/">
            </a>
            <p>gitにあげて</p>
          </div>
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <a href="http://railstutorial.jp/" target="_blank" title="">
              <img alt="" class="img-responsive" src="http://capture.heartrails.com/400x400?http://railstutorial.jp/">
            </a>
            <p>rails勉強しよう</p>
          </div>
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <a href="http://ascii.jp/elem/000/000/201/201244/" target="_blank" title="">
              <img alt="" class="img-responsive" src="http://capture.heartrails.com/400x400?http://ascii.jp/elem/000/000/201/201244/">
            </a>
            <p>サムネイルの推薦も作成</p>
          </div>
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <a href="http://codeprep.jp/ja" target="_blank" title="">
              <img alt="" class="img-responsive" src="http://capture.heartrails.com/400x400?http://codeprep.jp/ja">
            </a>
            <p>programの勉強も</p>
          </div>
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <a href="http://templated.co/" target="_blank" title="">
              <img alt="" class="img-responsive" src="http://capture.heartrails.com/400x400?http://templated.co/">
            </a>
            <p>こんな風に</p>
          </div>
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <a href="http://templated.co/" target="_blank" title="">
              <img alt="" class="img-responsive" src="http://capture.heartrails.com/400x400?http://templated.co/">
            </a>
            <p>こんな風に</p>
          </div>
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <a href="http://natalie.mu/music/news/163975" target="_blank" title="">
              <img alt="" class="img-responsive" src="http://capture.heartrails.com/400x400?http://natalie.mu/music/news/163975">
            </a>
            <p>こんな風に
              <%=@game_results['articleContents'][5]['contentData']['linkUrl']%>
            </p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>

</html>