<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>
    <link rel="SHORTCUT ICON" href="//Users/ambition/rails_projects/sage/app/assets/images/favicon.ico">
    <link href="css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css" media="screen">
    .item{
      margin-bottom: 10px;
    }
  </style>
  </head>
  <body>
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <a href="http://templated.co/" target="_blank" title="">
              <img src="http://capture.heartrails.com/400x400?http://templated.co/" alt="" class="img-responsive">
            </a>
            <p>こんな風に</p>
          </div>
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <a href="http://capture.heartrails.com/" target="_blank" title="">
              <img src="http://capture.heartrails.com/400x400?http://capture.heartrails.com/" alt="" class="img-responsive">
            </a>
            <p>サムネイルの文字もリンクから</p>
          </div>
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <a href="https://github.com/" target="_blank" title="">
              <img src="http://capture.heartrails.com/400x400?https://github.com/" alt="" class="img-responsive">
            </a>
            <p>gitにあげて</p>
          </div>
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <a href="http://railstutorial.jp/" target="_blank" title="">
              <img src="http://capture.heartrails.com/400x400?http://railstutorial.jp/" alt="" class="img-responsive">
            </a>
            <p>rails勉強しよう</p>
          </div>
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <a href="http://ascii.jp/elem/000/000/201/201244/" target="_blank" title="">
              <img src="http://capture.heartrails.com/400x400?http://ascii.jp/elem/000/000/201/201244/" alt="" class="img-responsive">
            </a>
            <p>サムネイルの推薦も作成</p>
          </div>
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <a href="http://codeprep.jp/ja" target="_blank" title="">
              <img src="http://capture.heartrails.com/400x400?http://codeprep.jp/ja" alt="" class="img-responsive">
            </a>
            <p>programの勉強も</p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
