
		<div class="row">
			<div class="item col-md-4 col-sm-4 col-xs-6">
				<%= link_to "http://templated.co/", :target => "_blank" do %>
					<%= image_tag("http://capture.heartrails.com/400x400?http://templated.co/", :class => "img-responsive", :alt => "Facebook") %>
				<% end %> 
				<p>こんな風に</p>
			</div>
			<div class="item col-md-4 col-sm-4 col-xs-6">
				<%= link_to "http://templated.co/", :target => "_blank" do %>
					<%= image_tag("http://capture.heartrails.com/400x400?http://templated.co/", :class => "img-responsive", :alt => "Facebook") %>
				<% end %> 
				<p>こんな風に</p>
			</div>
			<div class="item col-md-4 col-sm-4 col-xs-6">
				<a href="https://github.com/" target="_blank" title="">
					<img src="http://capture.heartrails.com/400x400?https://github.com/" alt="" class="img-responsive">
				</a>
				<p>gitにあげて</p>
			</div>
			<div class="item col-md-4 col-sm-4 col-xs-6">
				<a href="http://railstutorial.jp/" target="_blank" title="">
					<img src="http://capture.heartrails.com/400x400?http://railstutorial.jp/" alt="" class="img-responsive">
				</a>
				<p>rails勉強しよう</p>
			</div>
			<div class="item col-md-4 col-sm-4 col-xs-6">
				<a href="http://ascii.jp/elem/000/000/201/201244/" target="_blank" title="">
					<img src="http://capture.heartrails.com/400x400?http://ascii.jp/elem/000/000/201/201244/" alt="" class="img-responsive">
				</a>
				<p>サムネイルの推薦も作成</p>
			</div>
			<div class="item col-md-4 col-sm-4 col-xs-6">
				<a href="http://codeprep.jp/ja" target="_blank" title="">
					<img src="http://capture.heartrails.com/400x400?http://codeprep.jp/ja" alt="" class="img-responsive">
				</a>
				<p>programの勉強も</p>
			</div>
		</div>
