<!DOCTYPE html>
<html lang="ja">
  <head>
    <h1>Graph#status_view</h1>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>
    <link rel="SHORTCUT ICON" href="//Users/ambition/rails_projects/sage/app/assets/images/favicon.ico">
    <link href="css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css" media="screen">
    .item{
      margin-bottom: 10px;
    }
  </style>
  </head>
  <body>
    <%= high_chart("sample", @graph) %>
  </body>
</html>
