<!DOCTYPE html>
<html lang="ja">

	<head>
		<meta charset="utf-8">
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<title>Bootstrap 101 Template</title>
		<link href="//Users/ambition/rails_projects/sage/app/assets/images/favicon.ico" rel="SHORTCUT ICON">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<style media="screen" type="text/css">
			.item {
				margin-bottom: 10px;
			}
		</style>
	</head>

	<body>
		<!DOCTYPE html>
		<html lang="ja">

			<head>
				<meta charset="utf-8">
				<meta content="IE=edge" http-equiv="X-UA-Compatible">
				<meta content="width=device-width, initial-scale=1" name="viewport">
				<title>Bootstrap 101 Template</title>
				<link href="//Users/ambition/rails_projects/sage/app/assets/images/favicon.ico" rel="SHORTCUT ICON">
				<link href="css/bootstrap.min.css" rel="stylesheet">
				<style media="screen" type="text/css">
					.item {
						margin-bottom: 10px;
					}
				</style>
			</head>

			<body>
				<%= high_chart("sample", @graph) %>
			</body>

		</html>
	</body>

</html>
