// Place all the styles related to the tech controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p{
	overflow: hidden;
	width: 305px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-moz-text-overflow:ellipsis; /* Firefox */
	-o-text-overflow: ellipsis; /* Opera */

}
